.container {
  position: absolute;
  bottom: var(--music-player-height);
  right: 0;
  width: 265px;
  max-height: 400px;
  background-color: var(--almost-white);
  border: 2px solid var(--off-colour);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.song {
  display: flex;
  border-bottom: 2px solid var(--off-colour);
}

.active {
  background-color: var(--main-colour);
  color: var(--almost-white);
}

.artist,
.song-name {
  display: block;
  float: left;
  font-size: 0.8rem;
  width: 120px;
  padding-left: 4px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.artist {
  font-weight: 700;
}

.song-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.song-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.song-left > img {
  border: 1px solid var(--almost-white);
  border-radius: 2px;
  background-color: var(--almost-white);
}

.play,
.remove {
  font-size: 0.7rem;
  cursor: pointer;
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-left: 2px solid var(--off-colour);
  background-color: var(--almost-white);
  border-radius: 0px;
}

.remove {
  font-size: 1.5rem;
  font-weight: 700;
}

.remove:hover {
  background-color: red;
  color: var(--almost-white);
}

.play:hover {
  background-color: green;
  color: var(--almost-white);
}

.play:hover > img,
.remove:hover > img {
  filter: invert();
}

.toggle-playlist {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-playlist img {
  filter: invert();
}

.faded img {
  opacity: 0.4;
}

.empty {
  text-align: center;
  font-weight: 600;
  color: var(--off-colour);
  border-bottom: 2px solid var(--off-colour);
}
