.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--almost-white);
  margin: 20px;
  padding: 10px;
  width: 100%;
  max-width: 350px;
}

.field {
  width: 100%;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.field > span {
  font-weight: 500;
}

.submit {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}
