.container {
  margin: 20px;
  color: var(--almost-black);
  background-color: var(--almost-white);
  width: 95%;
  max-width: 1000px;
}

.album-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album-info {
  width: 100%;
  margin-left: 5px;
}

.album-info a {
  text-decoration: none;
}

.album-info > h2 {
  font-size: min(1.5rem, 5cqw);
}

.album-info > h3 {
  font-size: min(1.2rem, 3.5cqw);
}

.songs-container {
  padding: 0;
}