@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  font-family: "Manrope", sans-serif;
}

:root {
  --main-colour: rgb(177, 51, 177);
  --main-colour-pale: rgb(255, 238, 255);
  --off-colour: rgb(116, 27, 116);
  --almost-white: rgb(252, 252, 252);
  --light-grey: rgb(248, 248, 248);
  --dark-grey: rgb(235, 235, 235);
  --darker-grey: rgb(119, 119, 119);
  --very-dark-grey: rgb(43, 43, 43);
  --almost-black: rgb(7, 7, 7);
  --scroll-bar-width: 10px;
  --music-player-height: 80px;
  --break-point: 700px;
}
