* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
}

:root {
  --main-colour: rgb(177, 51, 177);
  --off-colour: rgb(116, 27, 116);
  --almost-white: rgb(252, 252, 252);
  --light-grey: rgb(248, 248, 248);
  --dark-grey: rgb(235, 235, 235);
  --darker-grey: rgb(119, 119, 119);
  --very-dark-grey: rgb(43, 43, 43);
  --almost-black: rgb(7, 7, 7);
  --navbar-height: 80px;
  --scroll-bar-width: 10px;
}
