.container {
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  color: var(--almost-black);
  background-color: var(--almost-white);
  border-radius: 5px;
  width: 95%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
  align-items: center;
}

.info {
  width: 100%;
  margin-left: 5px;
}

.artist-name {
  text-align: left;
  font-size: min(1.5rem, 5cqw);
}

.artist-name a {
  text-decoration: none;
}

.song-name {
  text-align: left;
  font-size: min(1.2rem, 3cqw);
}