.spacer {
  height: var(--music-player-height);
}

.container {
  display: grid;
  grid-template-columns: 4fr 60% 1fr 1fr 1fr 1fr;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: var(--music-player-height);

  background-color: var(--off-colour);

  z-index: 1000;
  overflow: visible;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

.belowBar {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  margin-top: 10px;
}

.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
